.main-title-container {
    margin: 35vh 0;
    text-align: center;
}

.main-title {
    color: white;
    font-size: 70px;
    text-align: center;
}

.main-sub-title {
    margin: 0 auto;
    font-size: 40px;
    color: white;
}