.book {
    margin: 40px 0;
    text-align: center;
    width: 275px;
    height: auto;
    color: #463020;
}

.book-title {
    margin: 0;
    padding: 5px
}

.book-cover {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.book-author {
    padding: 0 3px;
    margin-bottom: 40px;
}

.book-description {
    padding: 0 10px;
}