.navigation {
    background-color: #F4F2E9;
    padding: 10px;
    border-bottom: 3px solid #463020;
}

.navigation-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 20px;
    justify-content: left;
    align-items: center;
    padding: 0;
}

.navigation-title {
    text-decoration: none;
}

.navigation-title h1 {
    margin: 0 10px;
    color: #463020;
}