.books-page {
    width: 90%;
    margin: 0 auto;
    background-color: #F4F2E9;
    border-radius: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 3px solid #463020;
}

.books-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.books-page-title {
    padding: 40px 0 20px 0;
    font-size: 50px;
    text-align: center;
    color: #463020;
    margin: 30px 0;
}

.books-page-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.books-page-empty {
    color: #463020;
    font-size: 30px;
    text-align: center;
}