.books-page {
    width: 90%;
    margin: 0 auto;
    background-color: #F4F2E9;
    border-radius: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.books-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.books-page-title {
    padding: 40px 0 20px 0;
    font-size: 50px;
    text-align: center;
    color: #463020;
    margin: 0;
}